       *{
      margin: 0px;
      padding: 0px;
    }
    body{
        background-color: hsl(212, 45%, 89%);
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }
    .image img{
        height: 250px;
        width: 250px;
        box-sizing: border-box;
        border-radius: 10px;
        overflow: hidden;
    }
    .outfit-heading{
      font-family: "Outfit", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      font-size: 20px;
      line-height: 1.3;
      color: hsl(218, 44%, 22%);
    }
    .inter-body{
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 15px;
      line-height: 1.4;
      color: hsl(216, 15%, 48%);
    }
 
    #container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: hsl(0,0%, 100%);
        border-radius: 10px;
        padding: 10px 10px 10px 10px;
        box-sizing: border-box;
    }

    .heading{
        max-width: 250px;
        padding: 15px 0px 15px 0px;
    }

    .subheading{
        max-width: 250px;
        padding: 10px 0px 30px 0px;
    }
