*{
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/Inter-VariableFont_slnt,wght.ttf) format("truetype");
    font-weight: 100 900;
    font-style: normal;
}
:root{
    --grey700: hsl(0, 0%, 20%);
    --grey800: hsl(0, 0%, 12%);
    --grey900: hsl(0, 0%, 8%);
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey900);
    font-family: "Inter";
}
.card{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: var(--grey800);
    border-radius: 12px;
}
.image{
    display: flex;
    justify-content: center;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image img{
    border-radius: 50%;
    width: 50%;
    
}
.details h1{
    color: var(--white);
    font-size: 24px;
    font-weight: 700;
}
.details p{
    color: var(--green);
    font-size: 14px;
    font-weight: 600;
}
.about p{
    color: var(--grey700);
    font-size: 14px;
    font-weight: 400;
}
.links{
    color: var(--white);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.link-style{
    background-color: var(--grey700);
    text-decoration: none;
    color: var(--white);
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    font-weight: 600;}
    
.link-style:hover{
    background-color: var(--green);
    color: var(--grey900);
    cursor: pointer;
    color: var(--grey900);
}
